USE [master]
GO
/****** Object:  Database [QuanLyBanHangQuaMang]    Script Date: 07/08/2020 10:57:34 ******/
CREATE DATABASE [QuanLyBanHangQuaMang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHangQuaMang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyBanHangQuaMang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHangQuaMang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyBanHangQuaMang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHangQuaMang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHangQuaMang]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_HANG](
	[MaDH] [int] NOT NULL,
	[MaMH_CTDH] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[TinhTrangMH] [nvarchar](50) NULL,
	[DonTraHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaMH_CTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_NHAP_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_NHAP_HANG](
	[MaDNH] [int] NOT NULL,
	[MaMH_CTDN] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDNH] ASC,
	[MaMH_CTDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_TRA_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_TRA_HANG](
	[MaDT] [int] NOT NULL,
	[MaMH_CTDT] [int] NOT NULL,
	[CTDH] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC,
	[MaMH_CTDT] ASC,
	[CTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MaHD] [int] NOT NULL,
	[MaMH_CTHD] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMH_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[MaCMT] [int] IDENTITY(1,1) NOT NULL,
	[MaMH_CMT] [int] NOT NULL,
	[MaKH_CMT] [int] NOT NULL,
	[LoaiCMT] [int] NULL,
	[NgayCMT] [datetime] NOT NULL,
	[Ma_mat_hang] [int] NOT NULL,
	[NoiDungCMT] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__COMMENT__397D6ED5C24D0B71] PRIMARY KEY CLUSTERED 
(
	[MaMH_CMT] ASC,
	[MaKH_CMT] ASC,
	[NgayCMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITAC_QUANGCAO]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITAC_QUANGCAO](
	[MaDTac] [int] IDENTITY(200,2) NOT NULL,
	[TenDTac] [nvarchar](50) NOT NULL,
	[NgayKyHD] [datetime] NOT NULL,
	[ThoiHan] [datetime] NOT NULL,
	[ViTriDang] [int] NOT NULL,
	[NguoiQL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDTac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG](
	[MaDH] [int] IDENTITY(1000,1) NOT NULL,
	[MaKH_DatHang] [int] NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[SDT_KH] [char](10) NOT NULL,
	[DiaChi_KH] [nvarchar](100) NOT NULL,
	[Email_KH] [varchar](50) NOT NULL,
	[TongTien] [money] NOT NULL,
	[HinhThucThanhToan] [int] NULL,
	[TrangThaiDH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_NHAP_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_NHAP_HANG](
	[MaDN] [int] IDENTITY(1000,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongSLHangNhap] [int] NOT NULL,
	[LyDoNhap] [nvarchar](50) NULL,
	[TrangThaiDuyet] [int] NULL,
	[NguoiQL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_TRA_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_TRA_HANG](
	[MaDTH] [int] IDENTITY(1000,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[DoiTac] [int] NOT NULL,
	[LyDoTra] [nvarchar](50) NULL,
	[NguoiQL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_BANHANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_BANHANG](
	[MaHD] [int] IDENTITY(1000,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[TinhTrangHD] [int] NOT NULL,
	[NgayGiaoHang] [datetime] NULL,
	[NhanVienGiaoHang] [int] NOT NULL,
	[NhanVienBanHang] [int] NOT NULL,
	[KhachHang] [int] NOT NULL,
	[ThuQuy] [int] NOT NULL,
	[LoaiHD] [int] NOT NULL,
	[TongTien] [money] NOT NULL,
	[TrangThaiGiaoHang] [int] NOT NULL,
 CONSTRAINT [PK_HOADON_BANHANG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(100,1) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[SDT_KH] [varchar](15) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAT_HANG]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAT_HANG](
	[MaMH] [int] IDENTITY(100,1) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[NCC] [int] NOT NULL,
	[LoaiMH] [nvarchar](50) NULL,
	[SoLuongTon] [int] NOT NULL,
	[SoLuongHangToiThieu] [int] NOT NULL,
	[GiaTien] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [int] IDENTITY(100,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[GioiThieu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [int] IDENTITY(1000,1) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[SDT_NV] [char](10) NOT NULL,
	[LoaiNV] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANH_TOAN]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_TOAN](
	[HoaDon] [int] NOT NULL,
	[KH_ThanhToan] [int] NOT NULL,
	[NV_ThanhToan] [int] NOT NULL,
	[LoaiThanhToan] [nvarchar](30) NOT NULL,
	[SoTienNhan] [money] NOT NULL,
	[SoTaiKhoan] [char](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDon] ASC,
	[KH_ThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIN_NHAN_QC]    Script Date: 07/08/2020 10:57:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIN_NHAN_QC](
	[MaTN] [int] IDENTITY(1,2) NOT NULL,
	[NgayPhatTN] [datetime] NOT NULL,
	[KH_TN] [int] NOT NULL,
	[NguoiQL] [int] NOT NULL,
	[TinhTrang_TN] [int] NULL,
	[MatHang_TN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTN] ASC,
	[NgayPhatTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMENT] ADD  CONSTRAINT [DF__COMMENT__LoaiCMT__2C3393D0]  DEFAULT ((0)) FOR [LoaiCMT]
GO
ALTER TABLE [dbo].[DON_HANG] ADD  DEFAULT ((0)) FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[DON_NHAP_HANG] ADD  DEFAULT ((0)) FOR [TrangThaiDuyet]
GO
ALTER TABLE [dbo].[TIN_NHAN_QC] ADD  DEFAULT ((0)) FOR [TinhTrang_TN]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_HANG_DON_HANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DON_HANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_HANG_DON_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_HANG_HOADON_BANHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[HOADON_BANHANG] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_HANG_HOADON_BANHANG]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_HANG_MAT_HANG] FOREIGN KEY([MaMH_CTDH])
REFERENCES [dbo].[MAT_HANG] ([MaMH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_HANG_MAT_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_NHAP_HANG_DON_NHAP_HANG] FOREIGN KEY([MaDNH])
REFERENCES [dbo].[DON_NHAP_HANG] ([MaDN])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_NHAP_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_NHAP_HANG_DON_NHAP_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_NHAP_HANG_MAT_HANG] FOREIGN KEY([MaMH_CTDN])
REFERENCES [dbo].[MAT_HANG] ([MaMH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_NHAP_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_NHAP_HANG_MAT_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_TRA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DON_TRA_HANG_MAT_HANG] FOREIGN KEY([MaMH_CTDT])
REFERENCES [dbo].[MAT_HANG] ([MaMH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_TRA_HANG] CHECK CONSTRAINT [FK_CHI_TIET_DON_TRA_HANG_MAT_HANG]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_MAT_HANG] FOREIGN KEY([MaMH_CTHD])
REFERENCES [dbo].[MAT_HANG] ([MaMH])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_MAT_HANG]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_KHACH_HANG] FOREIGN KEY([MaKH_CMT])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_KHACH_HANG]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_MAT_HANG] FOREIGN KEY([Ma_mat_hang])
REFERENCES [dbo].[MAT_HANG] ([MaMH])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_MAT_HANG]
GO
ALTER TABLE [dbo].[DOITAC_QUANGCAO]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_QUANGCAO_NHAN_VIEN] FOREIGN KEY([NguoiQL])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DOITAC_QUANGCAO] CHECK CONSTRAINT [FK_DOITAC_QUANGCAO_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_KHACH_HANG] FOREIGN KEY([MaKH_DatHang])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[DON_NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_NHAP_HANG_NHAN_VIEN] FOREIGN KEY([NguoiQL])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DON_NHAP_HANG] CHECK CONSTRAINT [FK_DON_NHAP_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DON_TRA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_TRA_HANG_NCC] FOREIGN KEY([DoiTac])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[DON_TRA_HANG] CHECK CONSTRAINT [FK_DON_TRA_HANG_NCC]
GO
ALTER TABLE [dbo].[DON_TRA_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_TRA_HANG_NHAN_VIEN] FOREIGN KEY([NguoiQL])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DON_TRA_HANG] CHECK CONSTRAINT [FK_DON_TRA_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BANHANG_DON_HANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DON_HANG] ([MaDH])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADON_BANHANG_DON_HANG]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BANHANG_KHACH_HANG] FOREIGN KEY([KhachHang])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADON_BANHANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BANHANG_NHAN_VIEN] FOREIGN KEY([NhanVienGiaoHang])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADON_BANHANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BANHANG_NHAN_VIEN1] FOREIGN KEY([NhanVienBanHang])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADON_BANHANG_NHAN_VIEN1]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BANHANG_NHAN_VIEN2] FOREIGN KEY([ThuQuy])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADON_BANHANG_NHAN_VIEN2]
GO
ALTER TABLE [dbo].[MAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_MAT_HANG_NCC] FOREIGN KEY([NCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[MAT_HANG] CHECK CONSTRAINT [FK_MAT_HANG_NCC]
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_KHACH_HANG] FOREIGN KEY([KH_ThanhToan])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[THANH_TOAN] CHECK CONSTRAINT [FK_THANH_TOAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_KHACH_HANG1] FOREIGN KEY([KH_ThanhToan])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[THANH_TOAN] CHECK CONSTRAINT [FK_THANH_TOAN_KHACH_HANG1]
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_NHAN_VIEN] FOREIGN KEY([NV_ThanhToan])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[THANH_TOAN] CHECK CONSTRAINT [FK_THANH_TOAN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[TIN_NHAN_QC]  WITH CHECK ADD  CONSTRAINT [FK_TIN_NHAN_QC_DON_NHAP_HANG] FOREIGN KEY([NguoiQL])
REFERENCES [dbo].[DON_NHAP_HANG] ([MaDN])
GO
ALTER TABLE [dbo].[TIN_NHAN_QC] CHECK CONSTRAINT [FK_TIN_NHAN_QC_DON_NHAP_HANG]
GO
ALTER TABLE [dbo].[TIN_NHAN_QC]  WITH CHECK ADD  CONSTRAINT [FK_TIN_NHAN_QC_KHACH_HANG] FOREIGN KEY([KH_TN])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[TIN_NHAN_QC] CHECK CONSTRAINT [FK_TIN_NHAN_QC_KHACH_HANG]
GO
ALTER TABLE [dbo].[TIN_NHAN_QC]  WITH CHECK ADD  CONSTRAINT [FK_TIN_NHAN_QC_NHAN_VIEN] FOREIGN KEY([NguoiQL])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TIN_NHAN_QC] CHECK CONSTRAINT [FK_TIN_NHAN_QC_NHAN_VIEN]
GO
USE [master]
GO
